pkgbase = terminal-browser-bin
	pkgdesc = A browser that runs directly inside your terminal
	pkgver = 0.5.8
	pkgrel = 1
	url = https://terminal-browser.com
	install = terminal-browser-bin.install
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = alsa-lib
	depends = gtk3
	depends = libdrm
	depends = libxss
	depends = libxtst
	depends = mesa
	depends = nss
	optdepends = xdg-utils: open external URLs with the desktop default handler
	provides = terminal-browser=0.5.8
	conflicts = terminal-browser
	options = !strip
	options = !debug
	source = LICENSE::https://github.com/zenbu-labs/terminal-browser/raw/v0.5.8/LICENSE
	sha256sums = 75144b0fa61c38989a1a057a018806a2da36e99f1f8850ba6146d9f53bdd646f
	source_x86_64 = https://github.com/zenbu-labs/terminal-browser/releases/download/v0.5.8/terminal-browser-linux-x64.tar.gz
	sha256sums_x86_64 = c330be3341ef6f6cb106e4fb32c1d60754a08e1a7641143a7a6a4d9e9448f617
	source_aarch64 = https://github.com/zenbu-labs/terminal-browser/releases/download/v0.5.8/terminal-browser-linux-arm64.tar.gz
	sha256sums_aarch64 = 9ffe7fc1f2a309ed0be48c2f35fba534f38163d64c22c0c7dc539949d4f19e71

pkgname = terminal-browser-bin
