pkgbase = apps2samsung-bin
	pkgdesc = One-click installer for Samsung Tizen TVs — Jellyfin, Moonlight & community catalog
	pkgver = 2.7.8
	pkgrel = 1
	url = https://github.com/Apps2Samsung/Apps2Samsung
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = fontconfig
	depends = hicolor-icon-theme
	depends = icu
	depends = krb5
	depends = libglvnd
	depends = openssl
	depends = zlib
	optdepends = nmap: TV discovery via network scan
	optdepends = xdg-utils: open URLs/files with default handler
	provides = apps2samsung
	provides = jellyfin2samsung
	conflicts = apps2samsung
	conflicts = jellyfin2samsung
	conflicts = apps2samsung-beta-bin
	options = !strip
	options = !debug
	source = LICENSE::https://raw.githubusercontent.com/Apps2Samsung/Apps2Samsung/beta/LICENSE
	sha256sums = SKIP
	source_x86_64 = Apps2Samsung-v2.7.8-linux-x64.tar.gz::https://github.com/Apps2Samsung/Apps2Samsung/releases/download/v2.7.8/Apps2Samsung-v2.7.8-linux-x64.tar.gz
	sha256sums_x86_64 = 3d9fbd32d7caf41ba219cc55261863ef511a089f0ac441f9f105416ecb1795ab
	source_aarch64 = Apps2Samsung-v2.7.8-linux-arm64.tar.gz::https://github.com/Apps2Samsung/Apps2Samsung/releases/download/v2.7.8/Apps2Samsung-v2.7.8-linux-arm64.tar.gz
	sha256sums_aarch64 = 770300a6d1f9497d9f517a052ea94903b0cda5c3e6e78a01bb6db680739a415c

pkgname = apps2samsung-bin
