pkgbase = lapce-nightly-bin
	pkgdesc = A lightning fast, powerful, and extensible code editor written in Rust
	pkgver = 20260902.r2ba9854
	pkgrel = 1
	url = https://lapce.dev
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	depends = expat
	depends = fontconfig
	depends = freetype2
	depends = gcc-libs
	depends = gtk3
	depends = libxcb
	depends = libxkbcommon
	depends = openssl
	provides = lapce
	conflicts = lapce
	conflicts = lapce-nightly
	options = !lto
	source = dev.lapce.lapce.desktop::https://github.com/lapce/lapce/raw/2ba9854cd674ea4500fa3b944fcec4056ff658d0/extra/linux/dev.lapce.lapce.desktop
	source = dev.lapce.lapce.metainfo.xml::https://github.com/lapce/lapce/raw/2ba9854cd674ea4500fa3b944fcec4056ff658d0/extra/linux/dev.lapce.lapce.metainfo.xml
	source = logo.png::https://github.com/lapce/lapce/raw/2ba9854cd674ea4500fa3b944fcec4056ff658d0/extra/images/logo.png
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	source_x86_64 = https://github.com/lapce/lapce/releases/download/nightly/lapce-linux-amd64.tar.gz
	sha256sums_x86_64 = SKIP
	source_aarch64 = https://github.com/lapce/lapce/releases/download/nightly/lapce-linux-arm64.tar.gz
	sha256sums_aarch64 = SKIP

pkgname = lapce-nightly-bin
